* {
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

body {
    /* background-color: rgb(241, 250, 253); */
    color: rgb(7, 30, 66);
}
a {
    /* color: whitesmoke; */
    text-decoration: none;
}
button {
    color: rgb(0, 57, 81);
}
#close {
    position: absolute;
    right: 15px;
    top: -5px;
    cursor: pointer;
}

#modalBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 37, 184, 0.213);
    backdrop-filter: blur(3px);
}

/* ---------- Authentication ------------ */

#welcome {
    display: flex;
    flex-direction: row;
    height: 80vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 89, 127);
    color: whitesmoke;
}
#welcomeHeader {
    margin-right: 40px;
}
#authFolder {
    padding: 50px;
    padding-top: 0;
    border-radius: 10px;
    width: 400px;
}

#authType {
    position: absolute;
    top: 0;
    right: 30px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

#authType p {
    padding: 5px;
    border: 1px solid rgb(0, 51, 73);
    border-radius: 10px;
    text-align: center;
    width: 70px;
}
#authenticate {
    overflow: hidden;
}
#authenticate p {
    font-size: 25px;
}
#authenticate input {
    width: 100%;
    height: 30px;
    color: black;
}
#authenticate,
button {
    margin-top: 20px;
}

.signIn {
    color: rgb(81, 99, 132);
    background-color: aliceblue;
}
.logIn {
    color: aliceblue;
    background-color: rgb(81, 110, 132);
}

/* ---------- Banner ------------ */
#banner {
    background-color: rgb(0, 89, 127);
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 0px 20px 0px 20px;
    border-bottom: 1px solid black;
}
#banner a {
    color: aliceblue;
}

#comands div {
    border-left: 1px solid aliceblue;
    padding-left: 10px;
}
#comands {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
#comands div {
    margin-left: 10px;
}
/* ---------- Add Data Modal ------------ */

#addDataModal {
    position: absolute;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    color: rgb(0, 51, 73);
    display: flex;
    flex-direction: column;
}
#addDataModal p {
    font-size: 20px;
    margin-bottom: 0px;
}
#addDataModal input {
    width: 100%;
}
#addDataModal button {
    width: 100px;
}

/* ---------- List Employees------------ */
#listComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#listEmployees {
    text-align: center;
    width: 70%;
    border: 1px solid black;
}
#listHead {
    display: grid;
    grid-template-columns: 0.2fr repeat(6, 1fr);
    background-color: rgb(96, 134, 150);
    color: black;
}

#list #row:nth-child(even) {
    background-color: rgb(175, 195, 255);
}
#list #row:nth-child(odd) {
    background-color: whitesmoke;
}

#list #address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
}

#list #row:nth-child(odd):hover,
#list #row:nth-child(even):hover {
    background-color: rgb(225, 112, 112);
}

#row {
    display: grid;
    grid-template-columns: 0.2fr repeat(6, 1fr);
    cursor: pointer;
}

#row #address p {
    margin: 0;
}

#profilePage #address {
    display: flex;
}
#profilePage #address p {
    margin-right: 5px;
}

/* ---------- New Employee Modal------------ */
#addEmployeeModal {
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    height: 500px;
}
